@charset "UTF-8";
/* обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ------------------------*/
/* шрифты*/
@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans"), local("CoFoSans-Regular"), url("fonts/CoFoSans-Regular.woff2") format("woff2"), url("fonts/CoFoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans Bold"), local("CoFoSans-Bold"), url("fonts/CoFoSans-Bold.woff2") format("woff2"), url("fonts/CoFoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Robert";
  src: local("CoFo Robert Italic"), local("CoFoRobert-RegularItalic"), url("fonts/CoFoRobert-RegularItalic.woff2") format("woff2"), url("fonts/CoFoRobert-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.header__links, .header__navbar a, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__box_btn, .works__box_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Global style */
body {
  min-width: 370px;
  font-family: "CoFo Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 3vw, 24px);
  color: #36b5b9;
  line-height: 1.2;
  background-image: url("img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 15px;
}
@media (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 5px;
  }
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(166, 209, 211, 0.3);
  border-radius: 100px;
}

a {
  font-family: "CoFo Sans";
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 3vw, 24px);
  color: #36b5b9;
  line-height: 1.2;
}

svg {
  width: 50px;
  height: 50px;
}
@media (max-width: 576px) {
  svg {
    width: 40px;
    height: 40px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 97%;
}

/* Header style */
.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 4px solid rgba(166, 209, 211, 0.3);
}
@media (max-width: 576px) {
  .header {
    border-bottom: 3px solid rgba(166, 209, 211, 0.3);
  }
}
.header__title {
  font-size: clamp(30px, 5vw, 40px);
  line-height: 1.2;
  margin-bottom: 2vh;
  text-align: center;
}
.header__title span {
  color: #a6d1d3;
}
@media (max-width: 576px) {
  .header__title {
    margin-bottom: 1vh;
  }
}
.header__navbar {
  width: 100%;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
@media (max-width: 768px) {
  .header__navbar {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 420px) {
  .header__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
.header__navbar a {
  color: #a6d1d3;
}
.header__navbar a:hover {
  color: #36b5b9;
}
.header__cv {
  min-width: 120px;
}
@media (max-width: 768px) {
  .header__cv {
    grid-column: 1;
  }
}
@media (max-width: 420px) {
  .header__cv {
    margin-right: 15px;
  }
}
.header__tel {
  min-width: 200px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .header__tel {
    grid-column: 2;
  }
}
.header__links {
  height: 50px;
}
@media (max-width: 786px) {
  .header__links {
    grid-column: 1/-1;
    height: 40px;
  }
}
.header__links_soc {
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
  padding: 2px;
}
@media (max-width: 768px) {
  .header__links_soc {
    margin-left: 5px;
  }
}
.header__links_soc svg {
  fill: #a6d1d3;
}
.header__links_soc svg:hover {
  fill: #36b5b9;
}

/* Main block style*/
.main {
  padding-top: 3vh;
  margin-top: 10px;
}
.main__title {
  font-size: clamp(30px, 5vw, 40px);
  margin-bottom: 2vh;
}
.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-gap: clamp(1rem, 2vw, 24px);
}

/* Buttons style */
.button {
  width: 100%;
  font: inherit;
  color: #a6d1d3;
  padding: 5px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
  overflow: hidden;
}
.button:hover {
  color: #36b5b9;
}
.button:hover:after {
  opacity: 1;
}
.button:after {
  position: absolute;
  opacity: 0;
  line-height: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #36b5b9;
}
.button_arrow, .button_cv {
  text-align: end;
  font-size: 24px;
}
.button_arrow:hover, .button_cv:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.button_arrow:hover:after, .button_cv:hover:after {
  right: 10px;
}
.button_arrow:after, .button_cv:after {
  top: 0;
  right: -20px;
  content: "»";
}
.button_tel {
  text-align: center;
  font-size: 24px;
}
.button_tel span {
  opacity: 1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.button_tel:hover span {
  opacity: 0;
}
.button_tel:hover:after {
  bottom: -2px;
}
.button_tel:after {
  content: "+79090900002";
  left: 0;
  bottom: -20px;
}

#button-up {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 25px;
}
#button-up svg {
  width: 50px;
  height: 50px;
  fill: #a6d1d3;
}
#button-up svg:hover {
  fill: #36b5b9;
}
@media (max-width: 768px) {
  #button-up {
    margin-bottom: 25px;
  }
}

/* My works properties */
.works__box {
  display: grid;
  grid-template: [box-start] "description actions" [box-end]/[box-start] 1fr auto [box-end];
  position: relative;
  overflow: hidden;
  padding: 0.25rem;
  color: #36b5b9;
  border: 4px solid rgba(166, 209, 211, 0.3);
  -webkit-transition: border-color 300ms ease;
  -o-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
}
.works__box:hover, .works__box:active {
  border-color: transparent;
}
.works__box > *, .works__box::before {
  grid-area: box;
}
.works__box::before {
  content: "";
  position: relative;
  background: black;
  opacity: 0.6;
  z-index: -1;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.works__box:hover .works__box_title, .works__box:active .works__box_title, .works__box:hover::before {
  opacity: 0;
}
.works__box:hover .works__box_stack, .works__box:active .works__box_stack {
  opacity: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 768px) {
  .works__box:hover .works__box_stack, .works__box:active .works__box_stack {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
.works__box:hover .works__box_description {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.works__box:hover .works__box_img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.works__box_title, .works__box::before {
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.works__box_stack, .works__box_description {
  -webkit-transition: opacity, -webkit-transform 300ms ease;
  transition: opacity, -webkit-transform 300ms ease;
  -o-transition: opacity, transform 300ms ease;
  transition: opacity, transform 300ms ease;
  transition: opacity, transform 300ms ease, -webkit-transform 300ms ease;
}
.works__box_stack {
  place-self: start;
  padding: 0.5rem;
  color: #2e2e57;
  font-size: clamp(10px, 1.5vw, 14px);
  line-height: 1.2;
  letter-spacing: 0.05rem;
  background-color: #a6d1d3;
  max-width: 60%;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
@media (max-width: 768px) {
  .works__box_stack {
    font-size: clamp(14px, 2.5vw, 20px);
  }
}
.works__box_title {
  place-self: center;
  padding: 0.5rem;
  font-size: clamp(30px, 5vw, 40px);
  line-height: 1.2;
  font-weight: 600;
  font-style: italic;
  color: #a6d1d3;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.works__box_title a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
.works__box_title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
@media (max-width: 440px) {
  .works__box_title {
    visibility: hidden;
  }
}
.works__box_description {
  grid-area: description;
  grid-column: 1/-1;
  place-self: end start;
  padding: 0.25rem;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: 1.2;
  font-style: italic;
  color: #2e2e57;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #a6d1d3;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
@media (max-width: 768px) {
  .works__box_description {
    font-size: clamp(16px, 3vw, 24px);
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
.works__box_actions {
  height: 60px;
  grid-area: actions;
  place-self: start;
  position: relative;
  gap: 5px;
  padding: 5px;
}
@media (max-width: 576px) {
  .works__box_actions {
    height: 50px;
  }
}
.works__box_btn {
  cursor: pointer;
}
.works__box_btn svg {
  fill: #a6d1d3;
}
.works__box_btn svg:hover, .works__box_btn svg:active {
  fill: #2e2e57;
}
.works__box_img {
  position: relative;
  inline-size: 100%;
  height: 100%;
  z-index: -2;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-animation: fadeIn 300ms ease-in-out;
          animation: fadeIn 300ms ease-in-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.dialog[open] {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.dialog__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  position: relative;
  max-width: 90%;
  border-radius: 8px;
  border: none;
  padding: 50px 30px 30px 30px;
  background-color: #888888;
  font-weight: 600;
  color: #2e2e57;
}
.dialog__message > p {
  text-align: center;
}
.dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.dialog__close::before, .dialog__close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  left: 5px;
  border-bottom: 1px solid #2e2e57;
}
.dialog__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dialog__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.dialog__close:hover::before, .dialog__close:hover::after {
  border-color: #36b5b9;
}