/* шрифты*/
@font-face {
    font-family: 'CoFo Sans';
    src: local('CoFo Sans'), local('CoFoSans-Regular'),
        url('fonts/CoFoSans-Regular.woff2') format('woff2'),
        url('fonts/CoFoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Sans';
    src: local('CoFo Sans Bold'), local('CoFoSans-Bold'),
        url('fonts/CoFoSans-Bold.woff2') format('woff2'),
        url('fonts/CoFoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CoFo Robert';
    src: local('CoFo Robert Italic'), local('CoFoRobert-RegularItalic'),
        url('fonts/CoFoRobert-RegularItalic.woff2') format('woff2'),
        url('fonts/CoFoRobert-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}