/* Header style */
.header {
    @extend %flex-between;
    flex-direction: column;
    height: min-content;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-bottom: 4px solid $gray_opacity;

    @media(max-width: 576px) {
        border-bottom: 3px solid $gray_opacity;
    }

    &__title {
        font-size: $xl-font;
        line-height: 1.2;
        margin-bottom: 2vh;
        text-align: center;
        span {
            color:  $gray;
        }
        @media(max-width: 576px) {
            margin-bottom: 1vh;
        }
    }
    &__navbar {
        @extend %grid-between;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        gap: 10px;


        @media(max-width: 768px) {
            grid-template-columns: repeat(2, auto);
        }

        @media(max-width: 420px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }

        a {
            @extend %flex-between;
            color:  $gray;

            &:hover {
                color:  $blue;
            }
        }
    }
    &__cv {
        min-width: 120px;

        @media(max-width: 768px) {
            grid-column: 1;
        }
        @media(max-width: 420px) {
            margin-right: 15px;
        }
    }
    &__tel {
        min-width: 200px;
        font-size: 24px;

        @media(max-width: 768px) {
            grid-column: 2;
        }
    }

    &__links {
        height: $big-icon;
        @extend %flex-between;

        @media(max-width: 786px) {
            grid-column: 1 / -1;
            height: $small-icon;
        }

        &_soc {
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 15px;
            padding: 2px;
            @media(max-width: 768px) {
                margin-left: 5px;
            }

            svg {
                fill: $gray;
                &:hover {
                    fill: $blue;
                }
            }
        }
    }
}