.works {
    &__item {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        border-top: 2px solid $gray_opacity;
    }

    &__link {
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
    }

    &__image {
        width: inherit;
        object-fit: cover;
        &:hover {
            filter: hue-rotate(45deg);
        }
    }

    &__about {
        height: 100%;
        display: grid;
        row-gap: 1vh;
        align-content: space-between;
        grid-template-rows: 70px 1fr 30px 30px;
    }

    &__stack {
        margin-bottom: 2vh;
        font-size: $m-font;
        line-height: $m-line;
        color:  $gray;
    }

    &__description {
        text-align: justify;
    }

    &__git {
        justify-self: end;
        align-self: center;
        min-width: 200px;
    }
}